/*HBS Viz*/

body {
  font: 12px Helvetica;
}

/*** title section ***/
#title{
	position: relative;
	padding-left: 100px;
	width: 980px;
}

#short{
	border: solid 2px #a1a1a1;
    padding: 3px;
    background-color: #17becf;
    border-radius: 4px;
    color: white;
}

#medium{
	border: solid 2px #a1a1a1;
    padding: 3px;
    background-color: #d6616b;
    border-radius: 4px;
    color: white;
}

#long{
	border: solid 2px #a1a1a1;
    padding: 3px;
    background-color: #74c476;
    border-radius: 4px;
    color: white;
}	

/*** visualization section ***/
#wrapper{
	position:relative;
	width: 1150px;
	height: 500px;
}

#graph{
	padding: 20px;
	position: relative;
	top:0px;
	left: 0px;
}

#not100error{
	width: 120px;
}

/***** axis label markers ***/
#shortMarker{
	position:absolute;
	bottom: 0px;
	left: 574px;
}

#mediumMarker{
	position:absolute;
	bottom: 1px;
	left: 647px;
}

#longMarker{
	position:absolute;
	bottom: 0px;
	left: 724px;
}

/****** d3 slider **/
#slider_wrapper{
	position:absolute;
	right: 82px;
	bottom: 25px;	
}

#slider_text{
	width: 150px;
	height: 230px;
	float:left;
	margin-right: 10px;
	font-size: 12px;
	font-family: "Trebuchet MS", sans-serif;
}

#slider_value{
	font-size: 20px;
}

#slider_value, #slider_period{
	width:110px;
	height: 40px;
	
	/*for centering text */
	text-align: center;
	line-height: 40px;
	
	/*distance between textboxes*/
	margin: 6px;
}

#slider_column{
	width:110px;
	height: 60px;

	/*for centering text */
	text-align: center;
	line-height: 60px;
	
	/*distance between textboxes*/
	margin: 6px;
}

/*for centering text */
.textbox {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 2px;
  color: white;
}

#d3slider{
	height: 230px;
	float: left;
}


#button-wrapper{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 230px;
}


/******** button styling *******/
.button {
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    line-height:15px;
    
    background-color: white; 
    color: black; 
    border: 2px solid #a1a1a1;
    float: right;
    margin: 4px;
 
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
 
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 2px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #a1a1a1;
    color: white;
}

/*******tool tip******/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/******* D3 axis styling ******/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.tooltip{
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  fill:black; 
}




